@model FeedbackListViewModel
@{
  ViewData["Title"] = "List";
}

<style>

  .box-blue {
    color: #0018A8;
    border-bottom: 4px solid #0018A8;
  }
  .box-header { padding: 0px 25px 0px 25px; background: #FFF; font-size: 16px; height: 40px; line-height: 40px; overflow: hidden; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15); }

   
  .box-header ul li { display: inline; }

  .box-header ul li a
  {
    text-decoration: none;
    padding: .2em 1em;
  }
</style>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="box-header box-blue" data-toggle="collapse" data-target="#requestsforfeedback-panel">
      <strong>Your requests for feedback - To</strong>
    
      <span class="glyphicon glyphicon-chevron-up pull-right"></span>
      
    </div>
    <div id="requestsforfeedback-panel" class="panel-collapse collapse in">
      <div class="well">

        <p>These are your teams requests for feedback from other teams.</p>
        <p>If you want to create a request select <b>New Request</b></p>
        <p>Once a request has been completed the status will change to review - please select and discuss with your team.</p>
        <p>Once reviewed mark as review and flag if you wish to share the work item with the business. Include the feedback option available.</p>

      </div>
    </div>
    <div>
      @if (Model.YourTeamFeedbackRequests == null)
      {
        <div class="alert alert-warning">
          <strong>Note!</strong>Very quiet in here - lets get some feedback on our work  - what has your team been doing for other parts of the business.
        </div>

      }
      else
      {

        <table class="table table-striped">
          <thead>
          <tr>
            <th>To</th>
            <th>Requested</th>
            <th>Title</th>
            <th>Status</th>
            <th> @Html.ActionLink("new request", "RequestFeedback", "Feedback", new { Id = 0 }, new { @class = "btn btn-primary btn-xs pull-right" })</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var item in Model.YourTeamFeedbackRequests)
          {
            <tr>
              <td class="col-md-2">@item.ToTeam</td>
              <td class="col-md-1">@item.RequestedDateTime.ToString("dd/MM/yyyy") </td>
              <td class="col-md-2">@item.Title</td>
              <td class="col-md-3">@item.Status</td>
              @if (@item.Status != "Feedback Available")
              {
                <td class='col-md-1'>
                  @Html.ActionLink("select", "RequestFeedback", "Feedback", new {Id = item.FeedbackRequestId}, new {@class = "btn btn-primary btn-xs pull-right"})
                </td>
              }
              else { 
                <td class='col-md-1'>
                  @Html.ActionLink("select", "ProvidedFeedback", "Feedback", new { Id = item.FeedbackRequestId }, new { @class = "btn btn-primary btn-xs pull-right" })
                </td>
              }

            </tr>
          }
          <tr><td colspan="5"></td></tr>
          </tbody>
        </table>
      }

    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="box-header box-blue" data-toggle="collapse" data-target="#feedbackrequests-panel">
      <strong>Teams requesting feedback - From</strong>

      <span class="glyphicon glyphicon-chevron-up pull-right"></span>

    </div>
    <div id="feedbackrequests-panel" class="panel-collapse collapse in">
      <div class="well">

        <p>List of requests for feedback from teams around the business.</p>
        <p>Please select from the list and complete the form</p>

      </div>
    </div>
    <div>
      @if (Model.OtherTeamFeedbackRequests == null)
      {
        <div class="alert alert-warning">
          <strong>Note!</strong>Very quiet in here - don't you provide a service to other parts of the business.
        </div>

      }
      else
      {

        <table class="table table-striped">
          <thead>
          <tr>
            <th>From</th>
            <th>Requested</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          @foreach (var item in Model.OtherTeamFeedbackRequests)
          {
            <tr>
              <td class="col-md-2">@item.FromTeam</td>
              <td class="col-md-1">@item.RequestedDateTime.ToString("dd/MM/yyyy") </td>
              <td class="col-md-2">@item.Title</td>
              <td class="col-md-3">@item.Description</td>
              <td class='col-md-1'>
                @Html.ActionLink("select", "GiveFeedback", "Feedback", new { Id = item.FeedbackRequestId }, new { @class = "btn btn-primary btn-xs" })
              </td>

            </tr>
          }
          <tr><td colspan="5"></td></tr>
          </tbody>
        </table>
      }

    </div>
  </div>

</div>


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="box-header box-blue" data-toggle="collapse" data-target="#pastwork-panel">
    <strong>Archived work</strong>

    <span class="glyphicon glyphicon-chevron-up pull-right"></span>

  </div>
  <div id="pastwork-panel" class="panel-collapse collapse in">
    <div class="well">

      <p>Past work completed - track your big projects and review your feedback from the recipients</p>
    

    </div>
    
    <div>
      @if (Model.ArchivedFeedbackRequests == null)
      {
        <div class="alert alert-warning">
          <strong>Note!</strong>Very quiet in here - please record some work that you have completed.
        </div>

      }
      else
      {

        <table class="table table-striped">
          <thead>
          <tr>
          
            <th>Completed</th>
            <th>Title</th>
            <th>For</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          @foreach (var item in Model.ArchivedFeedbackRequests)
          {
            <tr>
             
              <td class="col-md-1">@item.RequestedDateTime.ToString("dd/MM/yyyy") </td>
              <td class="col-md-2">@item.Title</td>
              <td class="col-md-3">@item.FromTeam</td>
              <td class='col-md-1'>
                @Html.ActionLink("select", "GiveFeedback", "Feedback", new { Id = item.FeedbackRequestId }, new { @class = "btn btn-primary btn-xs" })
              </td>

            </tr>
          }
          <tr><td colspan="5"></td></tr>
          </tbody>
        </table>
      }

    </div>
  </div>

</div>
</div>

    
